{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "classes": true,
      "impliedStrict": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["standard", "standard-jsx", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
